.navbar{
    background-color: #428cbe;
}

.nav-item a{
    color: #ffffff;
    transition: .3s ease-in;
}

.nav-item a:hover{
    color: rgb(4, 4, 138);
}

.btn {
    position: fixed;
    right: 5px;
    width: 6em;
    
}